* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
body {
    text-align: center;
}
.mapa {
    margin: 0 auto;
    width: 80%;
}
iframe {
    border: 0;
}