body {
    background-color: #121212;
    color: #ffde59;
}
.a {
    display: flex;
}
.pirelli img {
    width: 400px;
    height: 400px;
    margin-left: 150px;
    margin-top: 20px;
}
.text {
    margin-left: 400px;
    font-size: 20px;
    max-width: 400px;
}
.boton {
    padding: 10px 20px;
    background-color: #ffde59;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
}

.button:hover {
    background-color: #df3030;
    color: black;
}